.auth-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding-top: -50px;
    color: var(--text-color);
    background: var(--dark-background-color);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 300px var(--card-background-color) inset;
    -webkit-text-fill-color: var(--text-color);
}

.auth {
    width: 400px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.auth-button {
    margin-top: 30px;
    margin-bottom: 8px;
}

.auth-header {
    font-weight: 300;
    color: var(--text-color);
    font-size: 2em;
    margin-bottom: 64px;
}

@media (max-width: 450px) {
    .auth-header {
        display: none;
    }

    .auth-wrapper {
        margin-top: 20px;
    }

    .auth {
        width: 300px;
    }
}
