.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #eeeeee;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-card {
    width: 400px;
}

.login-form {
    padding: 24px;
}

.login-button {
    margin-top: 30px;
    margin-bottom: 8px;
}