.auth-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    height: 100vh;
    background: #e0e0e0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    margin-top: -50px;
    color: #424242;
}

.auth {
    width: 400px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.auth-button {
    margin-top: 30px;
    margin-bottom: 8px;
}

.auth-header {
    font-weight: 300;
    color: #424242;
    font-size: 2em;
    margin-bottom: 64px;
}

@media (max-width: 450px) {
    .auth-header {
        display: none;
    }

    .auth-wrapper {
        margin-top: 20px;
    }

    .auth {
        width: 300px;
    }
}
