{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/prefer-default-export": 0
  }
}