.stats {
    border: 1px solid #dddddd;
    max-width: 1000px;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
}

.stats-card-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.stats-card {
    --size: 35vh;
    padding: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    justify-self: center;
    text-align: center;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
}


.stats-plays-wrapper {
    display: flex;
}

.stats-plays-wrapper > .chart-wrapper {
    flex: 2;
}

.stats-plays-wrapper > .stats-plays-title {
    flex: 1;
}

.chart-wrapper {
    /*width: 400px;*/
}


@media (max-width: 900px) {
    .stats {
        grid-template-areas: 'a b' 'c d';
    }
}

@media (max-width: 750px) {
    .stats {
        grid-template-areas: 'a' 'b' 'c' 'd';
    }
}