* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.just-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-top {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.w100 {
    width: 100%;
}

.p-lr-8 {
    padding: 0 8px;
}

.border {
    border: 2px solid red;
}

.text-center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.table-border {
    border: 1px solid #dddddd;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Will be overwritten by color themes from ./mui-theme.js */
:root {
    --primary-color: red;
    --accent-color: red;
    --background-color: white;
    --dark-background-color: #fafafa;
    --light-gray-color: #eeeeee;
    --dark-text-color: #424242;
}
