.game-list {
    min-width: 200px;
    padding: 16px;
    max-width: 250px;
}

.game-list-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.board-game-list-wrapper {
    display: flex;
    margin: 54px 54px;
}

.game-not-found-wrapper {
    flex-grow: 2;
    text-align: center;
}

.game-not-found-title {
    font-weight: 300;
}