.landing-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.landing-items-wrapper {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.landing-item {
    background: var(--primary-color);
    --item-size: 26vh;
    padding: 30px;
    width: var(--item-size);
    height: var(--item-size);
    color: white;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.landing-item-title {
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: -10px;
    text-decoration: none;
}

.landing-item-image {
    width: 100%;
    height: 100%;
    max-height: 130px;
    object-fit: contain;
}

@media all and (max-width: 850px) and (min-width: 450px) {
    .landing-items-wrapper {
        width: 100%;
        height: 80%;
    }

    .landing-item {
        margin-top: 50px;
        --item-size: 20vh;
    }

    .landing-item-image {
        max-height: 100px;
    }
}

@media (max-width: 450px) {
    .landing-item-title {
        display: none;
    }

    .landing-item {
        display: flex;
        align-items: center;
        --item-size: 16vh;
    }

    .landing-item-image {
        max-height: 100px;
    }

    .landing-items-wrapper {
        flex-direction: column;
    }
}